.pet__container {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 80px;
    opacity: 0;
    transform: translateY(-100px);
    animation: fadeInDownAnimation 1s ease-in-out forwards;
}

@keyframes fadeInDownAnimation {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.pet__profile {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
}

.pet__profile>div>dl>dd {
    color: #494949;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.slider__container {
    max-width: 100%;
    width: 300px;
    flex: 1;
}

.pet_title {
    display: flex;
    align-items: center;
}

.pet_title>h1 {
    text-transform: capitalize;
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-right: 20px;
}

.profile_ {
    display: flex;
    gap: 10px;
}

.imageSlider {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 3px;
}

.owner__info>p {
    font-size: 12px;
}

.user__badge {
    background-color: #FFBD59;
    background-color: #FFBD59;
    border-radius: 6px;
    font-size: 14px;
    padding: 0px 4px;
    font-weight: 800;
}

.owner__contact {
    display: flex;
    margin-top: 15px;
    background: #fdfdfd;
    padding: 10px;
    justify-content: space-between;
    border: solid 1px #f0f0f0;
}

.owner__contact>a {
    text-decoration: none;
}

.owner__whatsapp {
    background-color: #25d366;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 5px 18px;
    border-radius: 4px;
    font-weight: 800;
    gap: 10px;
}

.owner__mail {
    background-color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 5px 18px;
    border-radius: 4px;
    font-weight: 800;
    gap: 10px;
}

/* SWIPER MODULES */

.mySwiper {
    width: 100%;
    height: 100%;
}

.mySwiper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}