.hero__banner {
    padding: 2em 0em;
}

.hero__banner>h1 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.hero__banner>h1>span {
    color: #FFBD59;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.subtitle__banner {
    max-width: 834px;
    margin: 0 auto;
    margin-top: 50px;
}

.hero__banner>.subtitle__banner>h3 {
    color: #494949;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.hero__banner>.subtitle__banner>h3>span {
    color: #494949;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.search__bar {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.search__bar>form {
    width: 500px;
    display: flex;
}

.search__bar>form>input {
    background: #F8F8F8;
    border: solid 1px #e3e3e3;
    height: 40px;
    border-radius: 3px;
    max-width: 100%;
    padding: 0px 8px;
    flex: 1;
}

.search__bar>form>input::placeholder {
    font-size: 12px;
}

.search__button {
    border-radius: 7px;
    background: #000;
    display: inline-flex;
    padding: 8px 12px;
    align-items: center;
    gap: 6px;
    color: #fff;
    font-size: 15px;
    margin-left: 10px;
}

.search__recents {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}

.search__recents>span {
    padding: 0px 2px;
    display: flex;
    justify-content: center;
    gap: 3px;
}

.recentItens {
    text-decoration: underline;
    text-transform: capitalize;
}

.feed>div>h2 {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.feed>div>h2>span {
    color: #494949;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.see_more_container {
    display: flex;
    justify-content: center;
}

.see_more_container>a {
    text-decoration: none;
    border-radius: 7px;
    border: 0.25px solid #CBCBCB;
    background: rgba(217, 217, 217, 0.00);
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    padding: 7.5px 17px;
    align-items: flex-start;
    justify-content: center;
    width: 120px;
    transition: 0.3s;
    text-transform: uppercase;
}

.minicards_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 27px;
    padding: 25px;
    margin: 7em 0em;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero__banner>h1 {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 26px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    .hero__banner>h1>span {
        color: #FFBD59;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    .hero__banner>.subtitle__banner>h3 {
        color: #494949;
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .subtitle__banner {
        max-width: 834px;
        margin: 0 auto;
        margin-top: 30px;
    }

    .search__recents>span {
        padding: 0px 2px;
        display: flex;
        justify-content: center;
        gap: 3px;
        flex-wrap: wrap;
    }


    .feed__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .minicards_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 27px;
        padding: 2px;
        margin: 7em 0em;
    }

}