* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
}

:root {
  --caramelYellow: #FFBD59;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}